.languageSelector {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.languageSelectorInput {
    display: none;
}

.languageSelectorLabel {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 34px;
    border-radius: 17px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.languageSelectorLabel:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
}

.languageSelectorInput:checked+.languageSelectorLabel {
    background-color: #86d993;
}

.languageSelectorInput:checked+.languageSelectorLabel:before {
    transform: translateX(26px);
}